<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MusicBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07BFF1971E3C1C77008DC441</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07BFF1A81E3C1C78008DC441</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07BFF1B31E3C1C78008DC441</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
